<!DOCTYPE html>
<html lang="en">

<head>
    <title>Innovations Corner</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app/assets/stylesheets/business-frontpage.css" rel="stylesheet">

</head>

<body>
    	<div id="bg">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Innovations Corner</h1>
			<a href="view_ap_theme.html">
			<button type="button" class="btn btn-default pull-right">
			      <span class="glyphicon glyphicon-arrow-left">Back</span>
			</button>
			</a>
			<a href="index_student.html">
			<button type="button" class="btn btn-default pull-right">
			      <span class="glyphicon glyphicon-home"> Home</span>
			</button>
			</a>
                </div>
	 </div>
        </div>
	</div>
<div class="row">
<div class="col-lg-offset-2 col-lg-8 col-lg-offset-2 ">
<div id="form1">

    <label for="iname">Theme: </label>
    <label for="iname">Commonly used languages</label><br><br>
    <label for="iname">Category:</label>
    <label for="iname">Technology</label><br>
    <label for="iname">Problem Statement:</label>
    <label for="iname">What are the commonly used computer languages by developers? State the reason </label><br><br>
    <label for="iname">Solution:</label>
    <label for="iname">I would say, PHP,Java and Android are moving the most now a days. The reason is its simplicity and ease of use. </label><br><br>
  <label for="iname">Contributor: </label>
    <label for="iname">Athira S</label><br><br>
</div>
</div>
</div>
</body>
</html>

    


