<!DOCTYPE html>
<html lang="en">

<head>
    <title>Innovations Corner</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app/assets/stylesheets/business-frontpage.css" rel="stylesheet">

</head>

<body>
    	<div id="bg">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Innovations Corner</h1>
			<a href="new_idea.html">
			<button type="button" class="btn btn-default pull-right">
			      <span class="glyphicon glyphicon-arrow-left">Back</span>
			</button>
			</a>
			<a href="index_student.html">
			<button type="button" class="btn btn-default pull-right">
			      <span class="glyphicon glyphicon-home"> Home</span>
			</button>
			</a>
                </div>
	 </div>
        </div>
	</div>
<div class="row">
<div class="col-lg-offset-2 col-lg-8 col-lg-offset-2 ">
<div id="form1">

    <label for="iname">Idea Title: </label>
    <label for="iname">Market Analysis</label><br><br>
    <label for="iname">Category:</label>
    <label for="iname">Computer Science</label><br><br>
  <label for="iname">Status:</label>
    <label for="iname">Need Clarification</label><br><br>
	<label for="description">Edit Description</label><br>
	<textarea>Add a small description on your idea...</textarea><br><br>
  <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2 ">
    <input type="submit" value="Submit">
  </div>
</div>
</div>
</div>
</body>
</html>

    


