<!DOCTYPE html>
<html lang="en">

<head>
    <title>Innovations Corner</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app/assets/stylesheets/business-frontpage.css" rel="stylesheet">

</head>

<body>

    

    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Innovations Corner</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>About Innovations Corner</h2>
                <p>Innovations Corner is going to be a platform inside the campus commune, where the students are able to express their ideas mainly, based on their final year projects, or simply ideas in various domains.</p>
                <p>In addition, we will be posting different themes on various domain seeking brilliant solutions from the students. You can view the themes, post your solutions. Excellent solutions will be selected and the contributors are rewarded.</p>

            </div>
            
        </div>
        <!-- /.row -->

        <hr>
	<div id="txt">
        <div class="row">
            <div class="col-sm-4">
		
                <div class="hovereffect">
        			<img class="img-circle img-responsive img-center" src="/assets/idea.jpeg" alt="">
				<p><h3>Post a new Idea?</h3></p>
        				<div class="overlay"
           					<h2>Post an Idea</h2>
           					<a class="info" href="/pages/new_idea">Click!!!</a>
       					</div>
    			</div>
            </div>
            <div class="col-sm-4">
                <div class="hovereffect">
        			<img class="img-circle img-responsive img-center" src="/assets/solution.jpeg" alt="">
				<p><h3>Post a new Solution?</h3></p>
        				<div class="overlay">
           					<h2>Theme Gallery</h2>
           					<a class="info" href="/pages/view_theme">Click!!</a>
       					</div>
    			</div>
            </div>
            <div class="col-sm-4">
    			<div class="hovereffect">
        			<img class="img-circle img-responsive img-center" src="/assets/approved.jpeg" alt="">
				<p><h3>View Approved Ideas?</h3></p>
        				<div class="overlay">
           					<h2>View Approved Idea</h2>
           					<a class="info" href="/pages/view_ap_idea">Ideas</a>
						<a class="info" href="/pages/view_ap_theme">Themes</a>
       					</div>
    			</div>
    	    </div>
	</div>
	</div>
	</div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="app/assets/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="app/assets/javascripts/bootstrap.min.js"></script>

</body>

</html>
