<!DOCTYPE html>
<html lang="en">

<head>
    <title>Innovations Corner</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app/assets/stylesheets/business-frontpage.css" rel="stylesheet">

</head>

<body>
    	<div id="bg">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Innovations Corner</h1>
			<a href="index_student.html">
			<button type="button" class="btn btn-default pull-right">
			      <span class="glyphicon glyphicon-arrow-left">Back</span>
			</button>
			</a>
			<a href="index_student.html">
			<button type="button" class="btn btn-default pull-right">
			      <span class="glyphicon glyphicon-home"> Home</span>
			</button>
			</a>
                </div>
	 </div>
        </div>
	</div>
<div class="container">
  <h3>Approved Ideas are..</h3>           
  <table class="table">
    <thead>
      <tr>
        <th>Idea Title</th>
        <th>Category</th>
	<th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Machine Learning</td>        
	<td>Computer Science</td>
        <td><a href="approved_idea.html">View</td>
      </tr>
      <tr>
	<td>Market Analysis</td>
        <td>Computer Science</td>
        <td><a href="">View</td>
      </tr>
    </tbody>
  </table>

</body>
</html>

    


