<!DOCTYPE html>
<html lang="en">

<head>
    <title>Innovations Corner</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app/assets/stylesheets/business-frontpage.css" rel="stylesheet">

</head>

<body>
    	<div id="bg">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Innovations Corner</h1>
			<%= link_to 'Back', :back, class: "btn btn-default pull-right 
                                             glyphicon glyphicon-arrow-left" %>
			<a href="index_student.html">
			<button type="button" class="btn btn-default pull-right">
			      <span class="glyphicon glyphicon-home"> Home</span>
			</button>
			</a>
                </div>
	 </div>
        </div>
	</div>
<div class="container">
  <h3>Approved Solutions are..</h3>           
  <table class="table">
    <thead>
      <tr>
        <th>Theme</th>
        <th>Solution</th>
	<th>Action</th>

      </tr>
    </thead>
    <tbody>
      <% @solution_approved.each do |solution| %>
        <tr>
	  <td><%= Theme.find(solution.theme_id).problem.to_s %></td>       
	  <td><%= solution.solution %></td>
          <td><%= link_to 'View', solution %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</body>
</html>

    


